<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440785410401-dokg7s4f70vn2gnugt46e8gkiald75fg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440785410401-dokg7s4f70vn2gnugt46e8gkiald75fg</string>
	<key>API_KEY</key>
	<string>AIzaSyBfl0DuJAAM2mizpwUKFGwlPnvS0u7om6I</string>
	<key>GCM_SENDER_ID</key>
	<string>440785410401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nium.SBC.staging</string>
	<key>PROJECT_ID</key>
	<string>onzscb</string>
	<key>STORAGE_BUCKET</key>
	<string>onzscb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440785410401:ios:9ade7ebed662b79336cd20</string>
	<key>DATABASE_URL</key>
	<string>https://onzscb.firebaseio.com</string>
</dict>
</plist>